@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-thumb {
  border: none;
  box-shadow: none;
  background: #dadce0;
  border-radius: 4px;
  min-height: 40px;
}
/* Handle */
::-webkit-scrollbar-track {
  margin: 3px 0;
}

:hover::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: #bdc1c6;
}

.unselectable {
  webkit-touch-callout: none;
  webkit-user-select: none;
  khtml-user-select: none;
  moz-user-select: none;
  ms-user-select: none;
  user-select: none;
}

.call {
  text-align: center;
}

.player-container {
  padding: 20px;
  text-align: initial;
}

.button-group {
  padding: 20px;
}

.call-form {
  padding: 20px;
}

input,
button {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .sideBar {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 30;
    top: 0;
    border-radius: 0;
  }
  .bottom-bar-grid {
    grid-template-columns: 4fr 1fr;
  }
  .hide-in-tab-width {
    display: none;
  }
  .controls {
    justify-content: start;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .bottom-bar-grid {
    grid-template-columns: 3fr 1fr;
  }
  .controls div {
    margin-right: 2rem;
  }
  .controls div:last-child {
    margin-right: 0;
  }
  .hide-on-mobile-width {
    display: none;
  }
  .show-on-mobile-width {
    display: block !important;
  }
  .show-on-mobile-width svg {
    margin-left: auto;
    height: 100%;
  }
}
.show-on-mobile-width {
  display: none;
}

.grid-item {
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-rows: repeat(1, 1fr);
}

.grid-item-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-item-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-item-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-item-4 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-item-5,
.grid-item-6 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-item-4,
.grid-item-5,
.grid-item-6 {
  grid-template-rows: repeat(2, 1fr);
}

/* media query for tab width */
@media screen and (max-width: 768px) {
  .grid-item {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-item-1 {
    grid-template-rows: repeat(1, 1fr);
  }
  .grid-item-2 {
    grid-template-rows: repeat(2, 1fr);
  }
  .grid-item-3 {
    grid-template-rows: repeat(3, 1fr);
  }
  .grid-item-4 {
    grid-template-rows: repeat(2, 1fr);
  }
  .grid-item-5,
  .grid-item-6 {
    grid-template-rows: repeat(3, 1fr);
  }
  .grid-item-4,
  .grid-item-5,
  .grid-item-6 {
    grid-template-rows: repeat(2, 1fr);
  }

  .collapse-on-tab-width {
    flex-direction: column;
  }
  .collapse-on-tab-width button {
    margin-bottom: 1rem;
  }
  .collapse-on-tab-width input {
    margin-left: 0;
  }
}

.agora_video_player {
  object-fit: contain !important;
}

.blue-circle {
  animation-delay: 0.1s;
}
.green-circle {
  animation-delay: 0.2s;
}
.red-circle {
  animation-delay: 0.3s;
}
